.post_leftCol {width: 12%; padding: 1%;}

.post_rightCol {width: 88%;}
    .post_rightCol_header {height: 28px; padding: 0; padding-left: 1%;}
            .post_rightCol_header_col1 {padding-right: 40px;}
    .post_rightCol_body {padding: 1%;}
    .post_rightCol_footer {height: 38px; padding: 0;}

.post_btn{padding-block: 0;}
.post_pic {border-radius: 50%;}